<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lifekau.android.lifekau">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FoodReviewListActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.FoodReviewWriteActivity">
        </activity>
        <activity android:name=".activity.LectureReviewSearchActivity">
        </activity>
        <activity android:name=".activity.LectureReviewListActivity">
        </activity>
        <activity android:name=".activity.LectureReviewWriteActivity">
        </activity>
        <activity android:name=".activity.FoodReviewCornerListActivity">
        </activity>
        <activity android:name=".activity.HomeActivity">
        </activity>
        <activity android:name=".activity.AlarmsListActivity">
        </activity>
        <activity android:name=".activity.SettingsActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".AlarmsActivity">
        </activity>
        <activity android:name=".SettingsActivity">
        </activity>
    </application>

</manifest>